[Unit]
Description=User suspend actions
After=suspend.target

[Service]
User=hc
Type=simple
Environment="DISPLAY=:0"
# Environment="XAUTHORITY=~/.Xauthority"
ExecStart=slock

[Install]
WantedBy=suspend.target
