[Unit]
Description=User suspend actions
After=suspend.target

[Service]
User=UserName
Type=simple
Environment="DISPLAY=:0" # echo $DISPLAY
# Environment="XAUTHORITY=~/.Xauthority"
ExecStart=slock

[Install]
WantedBy=suspend.target
